---
import Layout from "../layouts/Layout.astro";
import SeperationShowText from "../components/seperationShowsText/index.astro"




import "./about.less"
---

<Layout title="Home">
    <div id="Main-Display">
        <div>
            <h1>
                <span style="overflow-x: hidden;">Parlier</span>
                <span style="color:#80b9ff;" id="slideInLeft">Welding Club</span>
            </h1>
            <a href="/Parlier-Welding-Website/Projects" id="btn-wrapper">
                <button>Check out our work</button> 
                <div id="blue"></div>
            </a>
        </div>
        <p><b>
            Welding stuff and more text
        </b></p>
        <svg width="200" height="200" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" id="triangle" style="transform: scaleX(-1); left:0px">
            <path d="M100 100V0L0 100H100Z" fill="var(--backgroundColor)"/>
        </svg>
        <svg width="200" height="200" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg" id="triangle" style=" right:0px">
            <path d="M100 100V0L0 100H100Z" fill="var(--backgroundColor)"/>
        </svg>
    </div>

    <SeperationShowText title="About Us" img1="Cool-Pictures/IMG_8211 Large.jpeg" img2="Cool-Pictures/IMG_8211 Large.jpeg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptates sint perspiciatis! Repellendus praesentium cumque deleniti magnam alias, dolor consequatur ducimus officia odit reprehenderit aliquid ipsum architecto adipisci eum similique?
    </SeperationShowText>

    <div id="AboutUs">
        <h1>What we do</h1>
        <p class="octogon">We are a local high school club, we do Sheilded Metal Arc Welding, MIG welding, Flame Cutting, and Plasma Cutting right here in our shop. </p>
        <div class="Horizontal-Line"></div>
        <div id="img-display">
            <img src="https://lh3.googleusercontent.com/d/1b5t6hYtXkfhj8dEyoTY-4Htrumr9ceKj">
            <span class="octogon">idk</span>
        </div>
    </div>
</Layout>
<script is:inline>
// self reminder: don't do seperate file, it dont work

let octogons = document.getElementsByClassName("octogon");

for(let i=0;i<octogons.length;i++){
    let width = 15
    let height = width
    let triangles = []
    let postions = [
        ["top","left",180],
        ["top","right",270],
        ["bottom","right",0],
        ["bottom","left",90],
    ]
    for(let o=0;o<4;o++){
        let triangle = document.createElement("div")
        triangle.innerHTML = `<svg width="${width}px" height="${height}px" viewBox="0 0 100 100" fill="cyan" xmlns="http://www.w3.org/2000/svg"><path d="M100 100V0L0 100H100Z" fill="var(--backgroundColor)"/></svg>`

        triangle.style.position = "absolute"
        triangle.style[postions[o][0]] = "0px"
        triangle.style[postions[o][1]] = "0px"

        triangle.style.maxWidth = width+"px"
        triangle.style.maxHeight = height+"px"

        triangle.style.transform = `rotate(${postions[o][2]}deg)`

        octogons[i].style.padding = `${width*1.2}px`
        octogons[i].appendChild(triangle)
    }
}

</script>
<style>
    #triangle{
        position:absolute;
        bottom:0px;

        margin:0px;
    }
    #left{
        transform: scaleX(-1);
        left:0px
    }
    #right{
        right:0px;
    }
    #Main-Display h1{
        display:flex;
        font-size:36px;
        column-gap:5px;
    }
    #Main-Display h1 span{
        padding:10px;
    }
    #Main-Display h1 span:nth-child(1){
        border-top: 1px solid white;
        border-left: 1px solid white;
    }
    #Main-Display h1 span:nth-child(2){
        border-bottom: 1px solid white;
        border-right: 1px solid white;
    }
    
    #Main-Display{
        position:relative;

        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 1fr;

        height: 600px;


        background-image: url("https://lh3.googleusercontent.com/d/1FOLup-5KkMDrlTATgjSVyKR1h4vu195f");
        background-repeat: no-repeat;
        background-position: center center;
        object-fit: cover
    }
    #Main-Display p{
        color: azure;
        font-size:15px;
    }
    button{
        margin-block:20px;
    }
    #btn-wrapper button{
        background: none;
        border: none;

        cursor: pointer;
        padding: 5px;

        color: azure;
    }
    #slideInLeft{
        overflow-x: hidden;
        text-wrap: nowrap;
        animation: show 3s ease;
    }
    #slideInLeft::after{
        content: "";
        top:0px;
        right: 0px;

        width: 5px;
        height: 100%;

        display: block;

        position: absolute;
        right:0px;
        animation: fadeAway 1s;

    }
    @keyframes show {
        from{
            max-width: 0vw;
        }
        to{
            max-width: 100vw;
        }
    }
    @keyframes fadeAway{
        from{background-color:white;}
        to{background-color:transparent; }
    }
</style>