---
    import Layout from "../../layouts/Layout.astro";
    import data from "../../../data/projects/projects.json"
    import "./styles.css"
---
<Layout title="Projects">
    <div id="projects">
        aa
    </div>
</Layout>
<script is:inline define:vars={{data}}>
    let rando = 0
    //random Number I thought of
    //good enough random seeded number for me
    let addingRando = [1,Math.PI,5*Math.cos(284)^2,41,Math.tan(9)*Math.sqrt(Math.cbrt(384)),Math.PI^2,2,3]
    let randoInt = 0
    function getRando(){
        if(!randoInt<addingRando.length){
            randoInt = 0
        }else{
            randInt++
        }
        return(rando[randoInt])
    }
    for(let i=0;i<data.length;i++){
        let project = document.createElement("a");
        project.href = "Projects/"+data[i].slug
        project.className = "project"
        if(data[i].images[0]){
            // if the width is greater, set height to 200px
            // if the height is greater, set width to 200px
            // This is to bring different rectanges
        }else{
            project.style.width = "200px"
        }
            let title = document.createElement("h3");
            title.innerText = data[i].name;

            let subtitle = document.createElement("h6");
            subtitle.innerText = data[i].dateAdded

            let desc = document.createElement("p");
            desc.innerText = "In publishing and graphic design, Lorem ipsum (/ˌlɔː.rəm ˈɪp.səm/) is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder before the final copy is available. It is also used to temporarily replace text in a process called greeking, which allows designers to consider the form of a webpage or publication, without the meaning of the text influencing the design. - Wikipedia"

        project.appendChild(title)
        project.appendChild(subtitle)
        project.appendChild(desc)
        document.getElementById("projects").appendChild(project)
    }
</script>