.project{
    display: grid;

    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(36.33760937330989, 167.88703417231812, 65.1662236216307, 0.5);

    padding:10px;
    color: white;
}
.project > *{
    margin: 2px;
}